@media (min-width: 1024px) {
  body {
    padding: 120px;
    font-size: 24px;
  }

  .logo {
    max-width: 180px;
    margin: 60px auto 40px;
  }

  h1 {
    font-size: 5.6rem;
    text-align: center;
    margin-bottom: 40px;
  }

  .slogan {
    font-size: 2rem;
    margin-top: 30px;
    text-align: center;
  }

  .quote {
    font-size: 1.6rem;
    margin-bottom: 60px;
    text-align: center;
  }

  .image-container {
    max-width: 1000px;
    margin: 0 auto 60px auto;
  }

  .image-half img {
    height: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 2.6rem;
    margin-top: 80px;
    color: #e1bf78;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.1;
    margin-bottom: 28px;
  }

  ul {
    margin-left: 40px;
    font-size: 1.5rem;
    line-height: 2;
  }

  .sub {
    font-size: 1.4rem;
    margin-left: 2.5rem;
    color: #c7c7c7;
  }
}
